body{
	/* a shrotcut to writing font is to write
	fontsize/spacing, then write the desired fonts */
	font: 15px/1.5 Arial, Helvitica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
/* Global */
/* when using classes use a '.' */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

.button_1{
	height:26px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

/* headers */
header{
	background:#34524a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	/* top right bottom left */
	padding: 0 20px 0 20px;
}

/* for an 'id' use #id_name */
header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

/* this will be used using the <span> tag which is an inline highlight tool*/
header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/*showcase*/
#showcase{
	min-height: 400px;
	background:url('../img/city.jpg') no-repeat 0 -200px;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-top:10px;
}

#showcase p{
	font-size:20px;
}

/*newsletter*/
#newsletter{
	padding:15px;
	color:#ffffff;
	background:#35424a
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}

/* boxes*/
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	width:30%;
	padding:10px;
}

#boxes .box img{
	width:90px;
}

/*sidebars*/
aside#sidebar-right{
	float:right;
	width:28%;
	margin-top:10px;
}

aside#sidebar-left{
	float:left;
	width:28%;
	margin-top:10px;
}

aside#sidebar-left .quote input, aside#sidebar-left .quote textarea{
	width:90%;
	padding:5px;
}

/*main-columns for different pages*/
article#main-col-about{
	float:left;
	width:70%;
}

article#main-col-services{
	float:right;
	width:70%;
}

/*services*/
ul#services li{
	list-style:none;
	padding:20px;
	border:#cccccc solid 1px;
	margin-bottom:5px;
	background:#e6e6e6;
}

footer{
	padding:20px;
	padding-top:20px;
	color:#ffffff;
	background-color:e8491d;
	text-align:center;
}

/*media queries - used to create exceptions to certain devices whenever a
maximum or threshold value is reached, for instance to make it look better
across various devices*/
@media(max-width: 768px){
	header #branding,
	header nav, 
	header nav li, 
	#newsletter h1, 
	#newsletter form, 
	#boxes .box, 
	article#main-col-services, 
	aside#sidebar-left,
	article#main-col-about, 
	aside#sidebar-right{
		float:none;
		text-align:center;
		width:100%;
	}
	
	header{
		padding-bottom:20px;	
	}
	#showcase h1{
		margin-top:40px;
	}
	#newsletter button, .quote button{
		display:block;
		width:100%
		}
	#newsletter form input[type="email"], .quote input, .quote textarea{
		width:100%;
		margin-bottom:5px;
	}
}

