<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open Interaction Platform"/>
    <meta name="keywords" content="open ended, interactive, design driven"/>
    <meta name="author" content="Yan Haywire"/>
    <title>Tujenge | About Us</title>
    <link rel="stylesheet" href="./../css/style.css" />
    <script src="main.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1>Tujenge <span class="highlight">Kenya</span> Yetu</h1>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="current"><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="login.html">Login</a></li>
				</ul>
			</nav>
		</div>
	</header>
<section id="newsletter">
		<div class="container">
			<h1>Subscribe to our newsletter</h1>
			<form>
				<input type="email" placeholder="Enter Email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>
	<section id="main">
		<div class="container">
			<article id="main-col-about">
				<h1 class="page-title">About Us</h1>
				<p>All things that live in this world die, this is why you must find 
				joy in the living, while time is yours and not fear the end. To deny 
				this is to deny life</p>
				<p>All things that live in this world die, this is why you must find 
				joy in the living, while time is yours and not fear the end. To deny 
				this is to deny life</p>
			</article>
			<aside id="sidebar-right">
				<div class="dark">
					<h3>Topics</h3>
					<p>All things that live in this world die, this is why you must find 
					joy in the living, while time is yours and not fear the end. To deny 
					this is to deny life</p>
				</div>				
			</aside>
		</div>
	</section>
	
	<footer>
		<p>Tujenge Kenya, Copyright &copy; 2018</p>
	</footer>
</body>
</html>