<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open Interaction Platform"/>
    <meta name="keywords" content="open ended, interactive, design driven"/>
    <meta name="author" content="Yan Haywire"/>
    <title>Tujenge | Services</title>
    <link rel="stylesheet" href="./../css/style.css" />
    <script src="main.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1>Tujenge <span class="highlight">Kenya</span> Yetu</h1>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li class="current"><a href="services.html">Services</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="login.html">Login</a></li>
				</ul>
			</nav>
		</div>
	</header>
<section id="newsletter">
		<div class="container">
			<h1>Subscribe to our newsletter</h1>
			<form>
				<input type="email" placeholder="Enter Email...">
				<button type="submit" class="button_1">Subscribe</button>
			</form>
		</div>
	</section>
	<section id="main">
		<div class="container">
			<article id="main-col-services">
				<h1 class="page-title">Services Offered</h1>
				<ul id="services">
					<li>
						<h3>Website Design</h3>
						<p>All things that live in this world die, this is why you must find 
						joy in the living, while time is yours and not fear the end. To deny 
						this is to deny life</p>
						<p>500,000</p>
					</li>
					<li>
						<h3>Website mainainance</h3>
						<p>All things that live in this world die, this is why you must find 
						joy in the living, while time is yours and not fear the end. To deny 
						this is to deny life</p>
						<p>500,000</p>
					</li>
					<li>
						<h3>Website hosting</h3>
						<p>All things that live in this world die, this is why you must find 
						joy in the living, while time is yours and not fear the end. To deny 
						this is to deny life</p>
						<p>500,000</p>
					</li>
				</ul>
			</article>
			<aside id="sidebar-left">
				<div class="dark">
					<h3>Get a Quote</h3>
					<form class="quote">
						<div>
							<label>Name</label><br>
							<input type="text" placeholder="Name">
						</div>
						<div>
							<label>Email</label><br>
							<input type="email" placeholder="Email Address">
						</div>
						<div>
							<label>Message</label><br>
							<textarea placeholder="Name"></textarea>
						</div>
						<button class="button_1" type="submit">Send</button>
					</form>
				</div>				
			</aside>
		</div>
	</section>
	
	<footer>
		<p>Tujenge Kenya, Copyright &copy; 2018</p>
	</footer>
</body>
</html>